.DS_Store
/tmp

# Env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.lock
*lock.json
*.zip
*.log

# Vendor
/vendor

# refresh
gin-bin
gin-bin.exe

# build
build-app
com.keenoho